*{
    padding: 0;
    margin: 0;   
}

body{
    color: white;
    background-color: #222;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.crud{
    width: 80%;
    margin: auto;

}

.head{
    text-align: center;
    margin: 20px 0;
    text-transform: uppercase;
}

input{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    background-color: #333;
    color: white;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    height:  20px;
}
small{
    background-color: #333;
    padding: 10px;
    border-radius: 5px;
    height:  20px;
}
input:focus{
    background-color: #444;
    scale: 1.03;
}

button{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    background-color: #333;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

button:hover{
    background-color: #444;
}

#total{
    background-color: #e100f1;
    padding: 10px;
    border-radius: 5px;
}

.price{
    display: flex;
    gap: 10px;
    justify-items: center;
    align-items: center;

}
